@media (min-width: 808px) {

    main {
        display: grid;
        max-width: 1000px;
    }

    main h2{
        text-align: left;
    }

    header img {
        margin-right: 25px;
    }

    /* .navigation {
        display: flex;
    } */
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation a {
        text-align: center;
    }

    #menuButton {
        display: none;
    }

    header h1 {
        margin-left: 5px;
    }

    header {
        border-radius: 10px 10px 0 0;
    }

    nav {
        border-radius: 0 0 10px 10px;
    }

    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    nav ul li {
        text-align: center;
        padding: 10px;
        display: block;
    }

    .container {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 15px;
	}

    .card ul li{
        padding-left: 10px;
    }

    #menu {
        display: none;
    }
}